*.hi
*.o
*.DS_Store
*.class
*.xml
*.iml
Haskell/Exercises/FunctionalProgramming_Example_Haskell
Haskell/Nurikabe/Nurikabe
Haskell/Sudoku/Sudoku
.gitignore
Haskell/Exercises/Continuations_Example
.stack-work
